body, html{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif ;
}
.container {
    width: 100%;
    margin: 0px auto;
    }
    
    .app-header {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 40px;
    background: #336699;
    }

.app-title {
    font-size: 28px;
    padding: 0px;
    margin: 0 auto;
    color: #fff;
 }
    .app-headline {
    color: #999;
    margin: 50px auto;
    font-size: 15px;
    }
    
    main {
    margin: 100px 100px 50px 100px;
    }
    .cards{
        display: relative;
    }
    .card{
        border-bottom: 1px solid #000000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .btn{
        width: 30%;
    }
    .todo_item{
        display: flex;
        justify-content: space-between;
    }       
    .todo_description{
            font-size: 14px;
            color: rgb(122, 122, 122);
    }
    form {
        padding: 10px;
        text-align: center;
        }    

